{% load static %}


<!doctype html>
<html lang="en">
  <head>
    <!-- Required meta tags -->
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="icon" type="image/png" sizes="32x32" href="{% static 'images/alzheimer-icon.png' %}">

    <!-- Bootstrap CSS -->
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-EVSTQN3/azprG1Anm3QDgpJLIm9Nao0Yz1ztcQTwFspd3yD65VohhpuuCOmLASjC" crossorigin="anonymous">

    <!-- Fonts -->
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Poetsen+One&family=Roboto:ital,wght@0,100;0,300;0,400;0,500;0,700;0,900;1,100;1,300;1,400;1,500;1,700;1,900&display=swap" rel="stylesheet">
    
    <link rel="stylesheet" href="{% static 'css/header.css' %}">
    <link rel="stylesheet" href="{% static 'css/questionario.css' %}">

    <title>Questionário</title>
  </head>
  <body>
    <header class="mt-3">
        <div class="d-flex container justify-content-between align-items-center" style="max-width: 90vw !important;">
            <nav class="">
                <ul class="d-flex justify-content-around" style="padding: 0;">
                    <li><a href="{% url 'home'%}" class="links">Início</a></li>
                    <li><a href="#" class="links">Sobre nós</a></li>
                    <li><a href="#" class="links">Contato</a></li>
                    <li><a href="#" class="links">Prevenção</a></li>
                </ul>
            </nav>
            <h1 class="title-alz">Questionário</h1>
            <button class="btn-entrar" onclick="bt_sair()">Sair</button>
        </div>
    </header>

    <div class="d-flex column justify-content-between">
      <div class="fomulario">
        <!-- <h4 class="title-fomulario">Olá Luiz!</h4> -->

        <p class="info">
          Continue respondendo ...
        </p>

        <form class="mt-4" method="post" action="{% url 'processar_dados' %}">
          {% csrf_token %}

          <div class="form-group mt-4">
            <label for="preocupacao">Você se considera uma pessoa muito preocupada?</label>
              <select class="form-control" id="preocupacao" name="preocupacao">
                <option value="20">1. Muito pouco</option>
                <option value="40">2. Pouco</option>
                <option value="60">3. Moderado</option>
                <option value="80">4. Muito</option>
                <option value="100">5. Super</option>
              </select>
          </div>

          <div class="form-group mt-4">
            <label for="diabetes"> Você foi diagnosticado(a) com diabetes?</label>
            <select class="form-control" id="diabetes" name="diabetes">
              <option value="1">Sim</option>
              <option value="0">Não</option>
            </select>
          </div>

          <div class="form-group mt-4">
            <label for="pressao"> Você já teve algum diagnóstico de pressão alta?</label>
            <select class="form-control" id="pressao" name="pressao">
              <option value="1">Sim</option>
              <option value="0">Não</option>
            </select>
          </div>

          <div class="form-group mt-4">
            <label for="parental">Qual a idade que seu pai tinha quando faleceu? (Se vivo, informe a idade atual)?</label>
            <input type="number" name="parental" class="form-control" id="parental" min="1" placeholder="Informe a idade" required>
          </div>

          <div class="form-group mt-4">
            <label for="parental">Qual a frequência com que você consome alimentos ricos em ferro, como carnes vermelhas, leguminosas e vegetais de folhas verdes?</label>
            <select class="form-control" id="ferro" name="ferro">
              <option value="100">Diariamente</option>
              <option value="75">3-5 vezes por semana</option>
              <option value="50">1-2 vezes por semana</option>
              <option value="25">Menos de 1 vez por semana</option>
              <option value="0">Nunca</option>
            </select>
          </div>
          
          <div class="d-flex justify-content-between">
            <button class="animated-button2" type="button" onclick="bt_quest1()">
              <span class="text">Voltar</span>
            </button>

            <button class="animated-button" type="submit">
              <span class="text">Enviar</span>
            </button>
          </div>
          
        </form>
          

      </div>

      <div>
        <!-- <img class="im-madam" src="{% static 'images/alz-1.png' %}" alt="main image"> -->
      </div>

    </div>

    <script>
      function bt_quest1(){
        self.location = "{% url 'questionario2'%}"
      }

      function bt_result(){
        //self.location = "{% url 'resultado'%}"
      }
      function bt_sair(){
        self.location = "{% url 'home'%}"
      }
    </script>
    

    <!-- Option 1: Bootstrap Bundle with Popper -->
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/js/bootstrap.bundle.min.js" integrity="sha384-MrcW6ZMFYlzcLA8Nl+NtUVF0sA7MsXsP1UyJoMp4YLEuNSfAP+JcXn/tWtIaxVXM" crossorigin="anonymous"></script>

  </body>
</html>